.styled-input {
  width: 40%;
  margin: auto;
  height: 20px;
  display: block; /* Esto ayudará a centrar el input */
}



h1{
    text-align: center;
    color: blue;
}

th{
    width: 20px;
}

/* Estilo para ocultar las flechas en los inputs de tipo number */
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  text-align: center;

}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Espacio entre los botones */
}


td{
    text-align: center;
    margin: auto;
}

button{
    display: block;
  margin: 0 auto;
}

        



  
     

      